[Unit]
Description=Website Service
After=network.target

[Service]
ExecStart=/root/website/start-server.sh
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=website.service